/**
 * COLOUR PALETTE
 * ----------------------------------------------------
 *
 * - https://www.invisionapp.com/inside-design/quick-guide-color-palette
 * - https://color.adobe.com/avo---bright-color-theme-10085604
 * - https://paletton.com/#uid=50x0u0kmbqZcIEoi0uMqdnatPiq
 * 
 * #FFFFFF
 * #000000
 *
 * #5A67D8
 * #4BA2D1
 * #A3D5F0
 *
 */

.bg-primary { background-color: #5A67D8; }
.bg-primary-dark { background-color: #3C366B; }
.bg-secondary { background-color: #4BA2D1; }
.bg-secondary-dark { background-color: #4BA2D1; }
.bg-complimentary { background-color: #A3D5F0; }
.bg-complimentary-dark { background-color: #A3D5F0; }

.color-primary { color: #5A67D8; }
.color-secondary { color: #4BA2D1; }
.color-complimentary { color: #A3D5F0; }

/**
 * ----------------------------------------------------
 *
 * GLOBAL STYLES
 *
 * ----------------------------------------------------
 */

/* Common Page Elements */
body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	background-color: #FFF;
}

/* Typography */
h1, h2, h3 {
	font-family: 'Lora', serif;
}

/* Helper Styles */
.text-center {
	text-align: center;
}

/**
 * ----------------------------------------------------
 *
 * LAYOUT STYLING
 *
 * ----------------------------------------------------
 */

.page-wrapper {
	/* fit to center */
	width: 50%;
	margin: 0 auto;
	padding-top: 50px;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.box-50 {
	width: 50%;
}

.box-50.centered {
	margin: auto;
}

/**
 * ----------------------------------------------------
 *
 * UI COMPONENTS (WIDGETS)
 *
 * ----------------------------------------------------
 */

.component {
  background-color: beige;
}

/*-------------------------- Buttons --------------------------*/

.button {
  color: #DDD;
  font-family: 'Poppins', 'Arial', sans-serif;
}

.button.bg-dark {
  color: #000;
}

.raise-button {
  letter-spacing: 1px;
  font-size: 15px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  /* font-family: sans-serif; */
  cursor:pointer;
  border: none;
  padding: 12px 20px 12px 20px;
  margin: 5px;
  /*background-color: transparent;*/
  text-align: center;
  text-decoration: none;
}

.raise-button:focus {
  outline: none;
}

@keyframes fade {
  0% {opacity: 1; transform: scale(0);}
  50% {opacity: 1; transform: scale(1);}
  100% {opacity: 0;}
}

.with-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
  /*background-color: rgba(255, 255, 255, 0.3);*/
}

.raise-button:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
  background-color: #FFF !important;
  color: #222 !important;
}

.raise-button:active {
  -webkit-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}

/*-------------------------- Lists --------------------------*/


/**
 * ----------------------------------------------------
 *
 * <FORM> STYLES
 *
 * ----------------------------------------------------
 */


/**
 * ----------------------------------------------------
 *
 * PAGE <HEADER> STYLES
 *
 * ----------------------------------------------------
 */

body > header {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/**
 * ----------------------------------------------------
 *
 * ACTION BAR STYLES
 *
 * ----------------------------------------------------
 */

/* #action-bar .centered {
  width: 35%;
  margin: 0 auto;
} */

/**
 * ----------------------------------------------------
 *
 * PAGE STYLES
 *
 * ----------------------------------------------------
 */

.page { background-color: #DDD; }

/*-------------------------- Landing Page --------------------------*/

/*-------------------------- Sign In Page --------------------------*/